.requestList, .completionList {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}

.requestList{
    padding:10px;
    display: flex;
    flex-direction: row;
}

li:nth-child(2n).requestList{
    background-color:lightgray
}

li:nth-child(2n+1).requestList{
    background-color:white
}

li div.requestList  {
    width: 60%;
}

li select.requestList  {
    margin-left: 24px
}

li button.requestList  {
    margin-left: 20%
}


.completionList {
    background-color: rgb(230, 171, 171);
    padding: 10px;
    display: flex;
    flex-direction: row;
}

li.completionList div {
    width: 80%
}

li.completionList button {
    margin-left: 102px
}

.tabletitles {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: darkgray;
    margin-bottom: 0;
    height: 47px;
}

#tabletitle-1 {
    margin-left: 10px;
}

#tabletitle-2 {
    margin-left: 50%;
}
